@charset "utf-8";
#d20240101,/*元日*/
#d20240108,/*成人の日*/
#d20240211,/*建国記念の日*/
#d20240212,/*休日*/
#d20240223,/*天皇誕生日*/
#d20240320,/*春分の日*/
#d20240429,/*昭和の日*/
#d20240503,/*憲法記念日*/
#d20240504,/*みどりの日*/
#d20240505,/*こどもの日*/
#d20240506,/*休日*/
#d20240715,/*海の日*/
#d20240811,/*山の日*/
#d20240812,/*休日*/
#d20240916,/*敬老の日*/
#d20240922,/*秋分の日*/
#d20240923,/*休日*/
#d20241014,/*スポーツの日*/
#d20241103,/*文化の日*/
#d20241104,/*休日*/
#d20241123,/*勤労感謝の日*/
.wholiday{
	background-color:#fff0f5;
}
