@charset "utf-8";
#d20230101,/*元日*/
#d20230102,/*休日*/
#d20230109,/*成人の日*/
#d20230211,/*建国記念の日*/
#d20230223,/*天皇誕生日*/
#d20230321,/*春分の日*/
#d20230429,/*昭和の日*/
#d20230503,/*憲法記念日*/
#d20230504,/*みどりの日*/
#d20230505,/*こどもの日*/
#d20230717,/*海の日*/
#d20230811,/*山の日*/
#d20230918,/*敬老の日*/
#d20230923,/*秋分の日*/
#d20231009,/*スポーツの日*/
#d20231103,/*文化の日*/
#d20231123,/*勤労感謝の日*/
.wholiday{
	background-color:#fff0f5;
}
