@charset "utf-8";
#d20250101,/*元日*/
#d20250113,/*成人の日*/
#d20250211,/*建国記念の日*/
#d20250223,/*天皇誕生日*/
#d20250224,/*休日*/
#d20250320,/*春分の日*/
#d20250429,/*昭和の日*/
#d20250503,/*憲法記念日*/
#d20250504,/*みどりの日*/
#d20250505,/*こどもの日*/
#d20250506,/*休日*/
#d20250721,/*海の日*/
#d20250811,/*山の日*/
#d20250915,/*敬老の日*/
#d20250923,/*秋分の日*/
#d20251013,/*スポーツの日*/
#d20251103,/*文化の日*/
#d20251123,/*勤労感謝の日*/
#d20251124,/*休日*/
.wholiday{
	background-color:#fff0f5;
}
