@charset "utf-8";
#d20260101,/*元日*/
#d20260112,/*成人の日*/
#d20260211,/*建国記念の日*/
#d20260223,/*天皇誕生日*/
#d20260320,/*春分の日*/
#d20260429,/*昭和の日*/
#d20260503,/*憲法記念日*/
#d20260504,/*みどりの日*/
#d20260505,/*こどもの日*/
#d20260506,/*休日*/
#d20260720,/*海の日*/
#d20260811,/*山の日*/
#d20260921,/*敬老の日*/
#d20260922,/*休日*/
#d20260923,/*秋分の日*/
#d20261012,/*スポーツの日*/
#d20261103,/*文化の日*/
#d20261123,/*勤労感謝の日*/
.wholiday{
	background-color:#fff0f5;
}
